.el-row {
    &::after,
    &::before {
        display: block;
        content: "";
    }
    &::after {
        clear: both;
    }
    &--flex {
        display: flex;
        &::after,
        &::before {
            display: none;
        }
        &.is-justify-end {
            justify-content: flex-end;
        }
        &.is-justify-center {
            justify-content: center;
        }
        &.is-justify-space-between {
            justify-content: space-between;
        }
        &.is-justify-space-around {
            justify-content: space-around;
        }
        &.is-algin-middle {
            align-items: center;
        }
        &.is-algin-bottom {
            align-items: flex-end;
        }
    }
}